.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.main-currency-table .currency-table--title, .main-commissions-table .commissions-table--title{
    padding-left: 20%;
}
.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
}
.footer_section{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}